div {
    position: relative;
    margin: auto;
    margin-bottom: 10px;
    width: 250px;
    height: 215px;
    background-color: pink;
}

input {
    position: relative;
    top: 25px;
    left: 50px;
    margin-bottom: 10px;
    display: block;
    padding: 10px;
    background-color: aquamarine;
}

button {
    width: 100px;
    height: 25px;
    position: relative;
    top: 23px;
    left: 75px;
    background-color: blueviolet;
}

p {
    position: absolute;
    bottom: 0px;
    left: 24%;
    width: 50%;
    text-align: center;
    border: 2px solid black;
    font-size: 26px;
}