/* font-family: 'Julius Sans One', sans-serif;
font-family: 'Libre Baskerville', serif;
  font-style: italic; */
@font-face {
  font-family: "weird";
  src: url(./mediaFonts/verdemoderna.woff);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #0d8ba1;
}

a:visited {
  color: #1a5952;
}

.top {
  background-image: url(./mediaImages/contours.png), url(./mediaImages/noise.png), url(./mediaImages/gridlines.png), url(./mediaImages/huntington.jpg);
  background-size: 50% auto, auto, auto, cover;
  background-repeat: repeat, repeat, repeat, no-repeat;
  background-attachment: fixed, fixed, fixed, scroll;
  background-position: 0% 0%, 0% 0%, -8% -11%, 0% 0%; 
  text-align: center;
  height: 250px;
  border-top: 10px solid rgba(19, 67, 71, 0.9);
  display: flex;
  flex-direction: column;
}

.top div img {
  height: 50px;
  width: 50px;
  margin-top: 21px;
  opacity: 0.6;
}

.top div h1 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 22.5px;
  font-weight: normal;
  color: rgba(255, 255, 255);
  padding-bottom: 5px;
  text-transform: uppercase;
  margin: 11px 0px 5px 0px;
}

.top h2 {
  font-family: 'Libre Baskerville', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 14.5px;
  color: rgba(255,255,255,0.6);
  margin: 0px;
  height: 53px;
}

.top h2 abbr {
  font-weight: normal;
  font-size: 13px;
}

.links {
  display: grid;
  grid-template-columns: 70px 180px 70px;
  background-color: rgba(255,255,255,0.25);
  margin-top: 5px;
  height: 80px;
  width: 320px;
}

.top a {
  color: rgba(255,255,255, 0.6);
}

#words {
  position: relative;
  top: 40%;
  grid-column: 2/3;
  font-size: 16px;
  font-family: 'Julius Sans One', sans-serif;
  text-transform: uppercase;
}

#arrow {
  position: relative;
  bottom: 24%;
  grid-column: 3/-1;
  line-height: 70px;
  font-size: 80px;
  font-family: "weird";
}

.left {
  color: rgba(50, 80, 80);
  margin-top: 30px;
  line-height: 2.1;
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 13px;
}

.left abbr {
  font-size: 12px;
}

.left p {
  margin: 11px 40px 0px 32px;
}

.left h3 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1;
  margin: 31px 0px 0px 32px;
}

.white-middle {
  margin: 30px 0px;
}

.green-middle {
  background-attachment: scroll, scroll, fixed;
  background-image: url(./mediaImages/contours-opaque.png), url(./mediaImages/gridlines-opaque.png), url(./mediaImages/bamboo.png);
  background-repeat: repeat, repeat, no-repeat;
  background-size: auto, auto, cover;
  background-color: rgba(138,188,159,0.5);
  padding: 2px 0px 35px 0px;
}

.download {
  display: none;
}

.downloadArrow {
  font-family: "weird";
}

.bottom {
  font-family: "weird";
  text-align: center;
}

.bottom-background {
  background-image: url(./mediaImages/contours.png), url(./mediaImages/gridlines.png), url(./mediaImages/noise.png), url(./mediaImages/koi.jpg);
  background-size: 50% auto, auto, auto, cover;
  background-position: 0 0, -5px -25px, 0 0, 0 50%;
  background-repeat: repeat, repeat, repeat, no-repeat;
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 15px;
  font-style: italic;
  line-height: 2;
  height: 125px;
  color: rgba(255,255,255,0.4);
  padding: 20px 14px;
  margin: 0px;
}

.bottom p {
  margin: 0px 25px 0px 0px;
}

.bottom p a {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6)
}

.green-bottom {
  display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(19, 67, 71, 0.9);
    height: 80px;
    color: rgba(138,188,159,0.5);
    font-size: 21px;
}

.green-bottom a {
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 33px;
  padding: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: lighter;
}

.right {
  padding: 0px;
  color: rgba(192,202,195);
  font-style: italic;
}

.right li {
  list-style: none;
  height: 62px;
  border-top: 1px solid rgba(160, 185, 173);
  padding: 16px 13px;
}

#blue {
  background-color: rgba(192,202,195, 0.5);
  margin: 0px;
  padding: 0px;
}

#light-green li {
  height: 45px;
}

#light-green {
  background-attachment: scroll, scroll, fixed;
  background-image: url(./mediaImages/contours-opaque.png), url(./mediaImages/gridlines-opaque.png), url(./mediaImages/bamboo.png);
  background-repeat: repeat, repeat, no-repeat;
  background-size: auto, auto, cover;
  background-color: rgba(138,188,159,0.5);
  height: 230px;
  margin: 0px;
  padding: 0px;
}

.right abbr {
  font-size: 15px;
}

.design {
  font-family: 'Julius Sans One', sans-serif;
  text-transform: uppercase;
  font-style: normal;
}

.name {
  font-size: 14px;
  color: rgba(97,104,87);
  font-style: normal;
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////Media Quary///////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media (min-width: 768px) and (max-width: 1132px) {

  .top {
    background-position: 0 0, 0 0, -5px -25px, 0 50%;
    height: 230px;
    justify-content: space-between;
  }

  .top div img {
    height: 80px;
    width: 80px;
  }

  .top div h1 {
    font-size: 38px;
  }

  .top h2 {
    font-size: 19px;
  }

  .top h2 abbr {
    font-size: 16px;
  }

  .special {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .special-words {
    position: relative;
    top: 39px;
    left: 13px;
  }

  .links {
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    height: 70px;
  }

  #words {
    font-size: 17px;
  }

  #arrow {
    font-size: 85px;
  }

  .left {
    font-size: 14px;
  }

  .left abbr {
    font-size: 13px;
  }

  .left p {
    margin-top: 1px;
    margin-left: 75px;
    margin-bottom: 4px;
    margin-right: 93px;
    font-size: 13px;
  }

  .left h3 {
    margin-top: 35px;
    margin-left: 75px;
    margin-bottom: 10px;
    margin-right: 48px;
  }
  
  .download {
    display: inline-block;
  }

  .download a {
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 15px;
    color: #809b7e;
  }

  .download-arrow {
    color: #a9b995;
    background: #d9e1cd;
    font-size: 15px;
    margin: 4px;
    padding: 3px;
    font-family: "weird";
    position: relative;
    top: 4px;
  }

  .bottom-background {
    font-size: 23px;
    height: 223px;
  }

  .bottom p {
    margin: 29px 86px 0px 95px;
    line-height: 1.75;
  }

  .bottom p a {
    font-style: normal;
    color: rgba(255, 255, 255, 0.6)
  }

  .green-bottom {
    height: 122px;
  }

  .green-bottom a {
    font-size: 49px;
    padding: 25px;
  }

  #blue {
    display: grid;
    grid-template: repeat(4, 84px) / 1fr 1fr;
    height: 325px;
  }

  #light-green {
    display: grid;
    grid-template: repeat(3, 60px) / 1fr 1fr;
    height: 190px;
  }

  .right li {
    width: 100%;
    padding-left: 45px;
  }

  #long-one {
    width: 200%;
  }
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////Media Quary///////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media (min-width: 1133px) {
  body {
    display: grid;
    grid-template-areas: 
      "t t t t t t"
      "l l l l r r"
      "b b b b b b";
  }
  
  .top {
    grid-area: t;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
  }

  .top div img {
    width: 125px;
    height: 125px;
    position: relative;
    bottom: 18px;
    opacity: 1;
  }

  .special {
    display: flex;
    align-items: center;
    position: relative;
    left: 200px;
  }

  .top div h1 {
    font-size: 49px;
    position: relative;
    left: 50px;
  }

  .top div h2 {
    font-size: 31px;
    position: relative;
    left: 20px;
  }

  .top h2 abbr {
    font-size: 29px;
  }

  .links {
    position: relative;
    right: 46px;
  }
  
  .left {
    grid-area: l;
  }
  
  .right {
    grid-area: r;
    width: 425px;
  }
  
  .bottom {
    grid-area: b;
  }
}

