body {
    text-align: center;
    background-image: url("mario.png");
}

h1 {
    font-size: 76px;
    color: red;
}

.price {
    display: inline-block;
    border: 3px dashed darkblue;
    padding: 10px;
    background-color: lightblue;
    border-radius: 20px;
}

.price h3 {
    color: darkgreen;
    font-size: 45px;
    margin: 0px;
    padding: 5px;

}

.price p {
    color: darkolivegreen;
    font-size: 26px;
    margin: 0px;
    padding: 1.5px;
}

.price span {
    color: yellow;
}

