* {
    background-color: black;
}

body {
    display: flex;
    flex-direction: column;
    color: orange;
}

.featured-computer {
    display: flex;
    justify-content: space-evenly;
}



.featured-computer img {
    width: 250px;
    height: 250px;
}