* {
    box-sizing: border-box;
    font-size: 0px;
    display: flex;
    justify-content: center;
}

/* Main Container */

.color-grid {
    display: flex;
    flex-direction: column;
    width: 300px;
}

/* Light Pink */

.light-pink {
    border: 1px solid white;
    background-color: #F5C6D6;
    width: 100%;
    height: 50px;
}

/* Dark Pink */

.hot-pink {
    border: 1px solid white;
    background-color: #EE2E84;
    width: 100%;
    height: 50px;
}

/* Light Blue */

.blue {
    border: 1px solid white;
    background-color: #85CFD8;
    width: 100%;
    height: 50px;
}

/* Light Green */

.green {
    border: 1px solid white;
    background-color: #8DC63F;
    width: 100%;
    height: 50px;
}

/* Orange */

.orange {
    border: 1px solid white;
    background-color: #E76E34;
    width: 100%;
    height: 50px;
}

/* For screens smaller then 768px */

@media only screen and (min-width: 768px) {

    .color-grid {
        flex-direction: row;
        flex-wrap: wrap;
        width: 1000px;
    }

    .light-pink {
        border: 3px solid white;
        height: 250px;
    }
    
    /* Dark Pink */
    
    .hot-pink {

        border: 3px solid white;
        width: 25%;
        height: 250px;
    }
    
    /* Light Blue */
    
    .blue {
        border: 3px solid white;
        width: 50%;
        height: 250px;
    }
    
    /* Light Green */
    
    .green {
        border: 3px solid white;
        width: 75%;
        height: 250px;
    }
    
    /* Orange */
    
    .orange {
        border: 3px solid white;
        width: 25%;
        height: 250px;
    }

}